

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* ======================================================
My stylo
*/
body{
    padding-top: 0;
}
/*Modificar bootstrap*/

/*  Titulo*/
.jumbotron{
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
}
.item{
    padding: 2%;
}

.carousel-indicators{
    /*    background-color: #ccc;*/
    bottom: 0!important;
    margin-bottom: 0;
}
.carousel-indicators li{
    border-color: #ccc;
}
.carousel-indicators .active{
    background-color: #ccc;
}
.ofertaMedia{
    box-shadow: 0px 0px 10px 5px #ccc;	 
    font-size: 1.2em;
}
.ofertaMedia h2{
    font-size: 2.2em;
}
.precios h3{
    font-size: 3em;
    background-color: rgba(153, 204, 255,0.4);
    padding: 0.5em;
}
.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}
/* centrar menu */
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.item img{
    width: 400px;
    margin: 0 auto;
}
.item h2,.item p{
    margin-left: 20%;
}

/*.jumbotron {
    background-color: #36424a;
    margin-bottom: 0;    
    border-radius: initial;
    background-color: initial; 
    color:#fff !important;
background-image: url(../img/mosaic.jpg)
}
.nav {
    background-color: #36424a;
    background-color: initial; 
    padding: 2px;
    padding-bottom: 10px;
            border: initial !important;
}
.navbar,.navbar-inverse{
    border-radius: initial;
    border:none;
    background-color: initial; 
    background-image: initial;
}
nav li{
    color: #0099cc !important;
}

.jumbotron{
    background-color: #0099cc;
}
.jumbotron p{
    color: #33ccff;
}

nav li{
    margin: 5px;
    background-color: #0099cc;
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a{ 
    color: #fff;
}
.carousel-control.right , 
.carousel-control.left{
        background-color: initial; 
    background-image: initial;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .glyphicon-chevron-left {
    color: black;
}
div >hr{
    color: #0099cc !important;
    background-color: #0099cc !important;
    width: 3px !important;
        border-top: 3px solid #0099cc;
}*/
div >h2{
height: 70px;
}
div >p :not(precios){
height: 150px;
}
.btn {
     display: initial; 
/*     padding: 5px;*/
}


/*

nav li:nth-child(1){
    background-color: #f00;
}
nav li:nth-child(2){
    background-color: #0099cc;
}
nav li:nth-child(3){
    background-color: #33cc00;
}
nav li:nth-child(4){
    background-color: #ff9900;
}
nav li:nth-child(5){
    background-color: #006666;
}
nav li:nth-child(6){
    background-color: #9c9b92;
}
nav li:nth-child(7){
    background-color: #d692e6;
}

nav button{
    background-color: #e6e606 !important;
}*/
