RewriteEngine on
#hay que modificar esto
ErrorDocument 404  /webs/mio/tienda/error/404.php


RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ^home/?$    model/model.php?f=index    [NC,L]    
RewriteRule    ^contact/?$    model/model.php?f=contact    [NC,L]    
# Handle requests for "pet-care"

RewriteRule    ^oferta/([0-9]+)/?$   model/model.php?f=tresOpciones&o=$1    [NC,L]  
# Cambiar por lo de arriba si tenemos mas de una pagina productos  
RewriteRule    ^productos/?$   model/model.php?f=productos    [NC,L]    
# Handle product requests
